<div class="flex flex-col items-center m-6">
    <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-200 mb-6">Postez un message</h1>
    <hr class="w-3/4 border-t-2 mb-6"> 
    <form  class="form ring-4 md:w-1/2 w-full ring-purple-700 rounded-3xl flex flex-col p-5 justify-center" (ngSubmit)="postMessage()"> 
        <div class="flex flex-col gap-4 p-7">
            <label class="text-4xl text-white" for="body">Message:</label>
            <textarea class="bg-black ring-2 text-purple-500 p-2 rounded-2xl" id="body" [(ngModel)]="message.body" name="body" required></textarea>
        </div>
        <div class="flex  flex-col gap-4 p-7">
            <label class="text-4xl text-white" for="imageUrl">URL de l'image:</label>
            <input class="bg-black ring-2 text-purple-500 p-2 rounded-2xl" id="imageUrl" type="text" [(ngModel)]="message.imageUrl" name="imageUrl" required />
        </div>
        <div class="flex  flex-col gap-4 p-7">
            <label class="text-4xl text-white" for="imageTitle">Titre d'image:</label>
            <input class="bg-black ring-2 text-purple-500 p-2 rounded-2xl" id="imageTitle" type="text" [(ngModel)]="message.imageTitle" name="imageTitle" />
        </div>
        <div class="flex  flex-col gap-4 p-7">
            <label class="text-4xl text-white" for="hashtags">Hashtags:</label>
            <div class="flex gap-4">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-purple-500">
                        <i class="fa-solid fa-hashtag"></i>
                    </div>
                    <input class="block  ps-10 p-2.5 bg-black ring-2 text-purple-500 p-2 rounded-2xl " id="hashtags" type="text"  name="hashtags" />
                </div>
                <span class="bg-purple-700 text-white w-10 h-10 text-center  p-2 rounded-full" (click)="addHashtag()" style="cursor: pointer;"><i class="fa-solid fa-plus"></i></span>
            </div>
            <div *ngIf="message.hashtags?.length" class="mt-3 flex flex-wrap">
                <span *ngFor="let hashtag of message.hashtags" class="text-purple-300 text-sm mr-2 break-words">{{ hashtag }}</span>
            </div>
        </div>
        <button type="submit" class="w-full h-10 rounded-full bg-white hover:bg-gray-300 font-bold text-black" style="box-shadow:  2px 2px 5px 0px rgba(143, 143, 143, 0.973);">Poster le  Message</button>
</form>
</div>
