.navbar {
 
  
  position: relative; /* Assurez-vous qu'elle ne chevauche pas */
  display: flex;
  justify-content: space-between;
  background-color: #35004e; /* Couleur de fond */
}

.logout-button {
  margin: 20px;
  padding: 10px;
  background-color: rgb(42, 0, 68);
  cursor: pointer;
}

.logout-button:hover {
  background-color: red;
}